DATABASE_URL=postgresql+psycopg://replayer:replayer@localhost:5432/replayer
API_KEY=dev-key
GENLAYER_MODE=mock
GENLAYER_CONTRACT_ADDRESS=0x59a8924E6E7D3A460e2154a304fCC2BEfEc3c8Dd
GENLAYER_ACCOUNT_PASSWORD=
GENLAYER_EXPLORER_BASE_URL=https://explorer-studio.genlayer.com/tx
NEXT_PUBLIC_API_BASE=http://localhost:8000
